body,
html {
  font-family: sans-serif;
  height: 100%;
}

:root {
  text-size-adjust: 100%;
}

.note {
  background: var(--note-color);
  padding: 20px;
  width: var(--note-size);
  height: var(--note-size);
  border-radius: 15px;
  box-shadow: 6px 5px 5px lightgrey;
}

.navbar {
  display: flex;
  column-gap: 8px;
  justify-content: end;
  align-items: center;
}

.icon-button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.icon-button:hover,
.icon-button:active {
  color: white;
  transition-duration: 0.15s;
}

.editTitle {
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 22px;
  resize: none;
}

// figure out resize, and resize if text is super long
.editText {
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 16px;
  resize: none;
}

.new-note {
  padding: 40px;
}

.add-button {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border-color: transparent;
  background-color: lightgray;
  float: inline-end;
  cursor: pointer;
}

.add-button:hover {
  color: white;
  box-shadow: 2px 3px 3px grey;
  transition-duration: 0.15s;
}
