body,
html {
  font-family: sans-serif;
  height: 100%;
}

:root {
  text-size-adjust: 100%;
}

.note {
  background: orange;
  width: var(--note-size);
  height: var(--note-size);
}

/* note styling */
